<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; All Products</h1>
  </header>

  <div class="well">

  <div>
  Legend:
    <span class="badge bg-primary">Fair amount of Stock</span>
    <span class="badge bg-danger">Low/Out of Stock</span>
  </div>

      <%= link_to '+ New Product', [:new, :admin, :product], class: "btn btn-success m-3" %>
  </div>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Category</th>
          <th>Price</th>
          <th>Stock</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @products %>
      </tbody>
    </table>

  </div>

</section>
