<section class="dashboard-index">

  <header class="page-header">
    <h1>About Jungle</h1>
  </header>

  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <div style="display:flex; justify-content: left; align-items: center;">
    <span>
      <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_tcvhsvlh.json" style="width: 300px"  background="transparent"  speed="0.7"  autoplay></lottie-player>
    </span>
    <article style="width:80vw">
      <h3>At our online plant shop, we sell beautiful plants & flowers.</h3>
      <p>We only source our products from reputable growers and nurseries, so you can be sure you're getting a healthy, beautiful plant. Plus, ordering is quick and easy! We offer free shipping on all orders over $50, so it's easy to get the plants you want without breaking the bank. We have a wide variety of plants and flowers available for purchase on our website. Whether you're looking for something small and delicate or big and bold, we have the perfect plant for you.</p>
      <p>We also carry a selection of accessories, including potting soil, pots and containers, watering cans, and more.</p>
    </article>
  </div>

</section>